{% extends 'ProyectoBlogApp/padre2.html' %}

{% load static %}


{% block contenido %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'ProyectoBlogApp/assets/img/04.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Bienvenido.!</h2>
                    
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <p>Hola.! Me llamo Andres Ferrer, tengo 30 años y soy Ingeniero Electricista.</p>
        <br>
        <p>Hace 5 años me mude y actualmente vivo en Argentina. Empece a estudiar programacion hace poco y hay mucho por aprender.</p>
        <br>
        <p>Sigamos creciendo.</p>
    </div>
</section>
    
{% endblock %}