{% extends 'ProyectoBlogApp/padre2.html' %}

{% load static %}


{% block contenido %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'ProyectoBlogApp/assets/img/04.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ups.!</h2>
                    <p>Te falto especificar que debes buscar. Intentalo de nuevo.</p>

                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'buscarevento' %}">Nueva busqueda</a>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}